body {
    margin: 0;
    padding: 0;
    font-family: "Playwrite NZ Basic", sans-serif;
    background-color: #4e4e4e;
}

body h1 {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

body p {
    padding: 1em;
    text-align: justify;
}

.bio #habilidades ul li {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
    list-style-type: none;
    font-size: 1.5em;
    padding: 1em;
}

.h1 {
    text-align: left;
    color: #fff;
    margin-top: 20px;
}

.h2 {
    text-align: left;
    color: #fff;
    margin-top: 10px;
}

.h3 {
    text-align: left;
    color: #fff;
    margin-top: 10px;
}